@model DepartmentViewModel
@{
    ViewData["Title"] = "Delete";
}

<h1>Are You Sure To Delete This Department </h1>

<br/>
<br/>
<br/>


  <form asp-action ="Delete">
  <div asp-validation-summary="All"></div> @*// List The All Form Error Message*@

  <partial name="PartialViews/DeatailsDeleteDepartmentPartial" />

   
<input type="submit" value ="Delete" Class="btn btn-danger"/>
<a asp-action="Index" class ="btn btn-secondary">Cancel</a>

</form>