@model RoleViewModel
@{
    ViewData["Title"] = "Create";
}

<form  asp-action="Create" enctype="multipart/form-data">
    <partial name="PartialViews/CreateEditRolePartial" />
    <input type="submit" value="Create" class="btn btn-primary" />

    <a asp-action="Index" class="btn btn-light">Back to list</a>
</form>

@section ValidationScriptSection{
    <partial name="_ValidationScriptsPartial" />
}



